$dark-bg-color: darken(#343a40, 4%);
$dark-bg-color2: darken(#343a40, 10%);
$dark-border-color: lighten(#343a40, 15%);
$dark-fg-color: #fff;
$dark-em-color: #61dafb;

$light-bg-color: darken(#f8f9fa, 2%);
$light-bg-color2: darken(#f8f9fa, 4%);
$light-fg-color: #333;
$light-em-color: #61dafb;
